@media (max-width: 768px) {
    .sideNav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #d0d0d070;
        backdrop-filter: blur(20px);
        position: absolute;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        transition: 0.3s ease;
    }

    .sideNavActive {
        right: 0;
    }
}
